In [1]:
import pandas as pd
from sqlalchemy import create_engine
from functools import reduce

In [2]:
db_path = '../data/raw_data_project_m1.db'

conn_str = f'sqlite:///{db_path}'

engine = create_engine(conn_str)

In [3]:
table_names = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", engine)
tables_names_lst = tables['name'].to_list()

all_dfs = [pd.read_sql_query(f'select * from {i}', engine) for i in tables_lst]
merged_tables = reduce(lambda left, right: pd.merge(left, right, on='uuid'), all_dfs)

merged_tables

NameError: name 'tables' is not defined