In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
db_path = '../data/raw_data_project_m1.db'

conn_str = f'sqlite:///{db_path}'

engine = create_engine(conn_str)

In [6]:
pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", engine)

            name
0  personal_info
1   country_info
2    career_info
3      poll_info

In [7]:
pd.read_sql_query("SELECT * from personal_info LIMIT 20",engine)

,uuid,age,gender,dem_has_children,age_group
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65
2,83127080-da3d-0133-c74f-0a81e8b09a82,32 years old,male,nO,26_39
3,15626d40-db13-0133-ea5c-0a81e8b09a82,45 years old,Male,YES,40_65
4,24954a70-db98-0133-4a64-0a81e8b09a82,41 years old,Fem,yES,40_65
5,28583060-dbe2-0133-ff9c-0a81e8b09a82,1990,FeMale,NO,26_39
6,b50dbb80-da53-0133-8956-0a81e8b09a82,1990,Fem,NO,26_39
7,dd743bb0-d9a5-0133-53b2-0a81e8b09a82,47 years old,Male,NO,40_65
8,4fde2370-da48-0133-3a42-0a81e8b09a82,34 years old,FeMale,nO,26_39
9,9949c4c0-da5f-0133-c832-0a81e8b09a82,1994,female,yES,juvenile
10,226cf850-db28-0133-c51a-0a81e8b09a82,49 years old,male,NO,40_65
11,69f1f400-dc5f-0133-ad9b-0a81e8b09a82,58 years old,male,YES,40_65
12,2351fbe0-de4c-0133-0d58-0a81e8b09a82,1991,female,NO,14_25
13,0f286c80-dd77-0133-7803-0a81e8b09a82,40 years old,male,YES,40_65
14,fe54f360-db27-0133-c444-0a81e8b09a82,37 years old,male,NO,26_39
15,960b1ce0-db01-0133-528c-0a81e8b09a82,48 years old,male,YES,40_65
16,d7912480-da41-0133-5bc1-0a81e8b09a82,31 years old,male,yES,26_39
17,d468c670-da40-0133-de39-0a81e8b09a82,1990,female,NO,26_39
18,76767d10-dd6c-0133-f56d-0a81e8b09a82,1999,female,nO,14_25
19,a96ed910-de55-0133-2582-0a81e8b09a82,34 years old,male,YES,26_39

In [8]:
pd.read_sql_query("SELECT * from country_info LIMIT 20",engine)

                                    uuid country_code        rural
0   f6e7ee00-deac-0133-4de8-0a81e8b09a82           AT  countryside
1   54f0f1c0-dda1-0133-a559-0a81e8b09a82           AT        urban
2   83127080-da3d-0133-c74f-0a81e8b09a82           AT         city
3   15626d40-db13-0133-ea5c-0a81e8b09a82           AT      Country
4   24954a70-db98-0133-4a64-0a81e8b09a82           AT         city
5   28583060-dbe2-0133-ff9c-0a81e8b09a82           AT  countryside
6   b50dbb80-da53-0133-8956-0a81e8b09a82           AT        urban
7   dd743bb0-d9a5-0133-53b2-0a81e8b09a82           AT        urban
8   4fde2370-da48-0133-3a42-0a81e8b09a82           AT         city
9   9949c4c0-da5f-0133-c832-0a81e8b09a82           AT        urban
10  226cf850-db28-0133-c51a-0a81e8b09a82           AT        urban
11  69f1f400-dc5f-0133-ad9b-0a81e8b09a82           AT         city
12  2351fbe0-de4c-0133-0d58-0a81e8b09a82           AT        urban
13  0f286c80-dd77-0133-7803-0a81e8b09a82           AT        rural
14  fe54f360-db27-0133-c444-0a81e8b09a82           AT      Country
15  960b1ce0-db01-0133-528c-0a81e8b09a82           AT         city
16  d7912480-da41-0133-5bc1-0a81e8b09a82           AT        rural
17  d468c670-da40-0133-de39-0a81e8b09a82           AT    Non-Rural
18  76767d10-dd6c-0133-f56d-0a81e8b09a82           AT         city
19  a96ed910-de55-0133-2582-0a81e8b09a82           AT        rural

In [9]:
pd.read_sql_query("SELECT * from career_info LIMIT 20",engine)

,uuid,dem_education_level,dem_full_time_job,normalized_job_code
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,None
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0
2,83127080-da3d-0133-c74f-0a81e8b09a82,None,no,None
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f
5,28583060-dbe2-0133-ff9c-0a81e8b09a82,high,yes,27af8700f5577cec835acee2cb90a2ff
6,b50dbb80-da53-0133-8956-0a81e8b09a82,medium,no,None
7,dd743bb0-d9a5-0133-53b2-0a81e8b09a82,medium,yes,c1b670eba9ccb65e7c99f7da116d5b9c
8,4fde2370-da48-0133-3a42-0a81e8b09a82,medium,yes,d71c4164c99a5f9bca773e755a72f40f
9,9949c4c0-da5f-0133-c832-0a81e8b09a82,no,no,None
10,226cf850-db28-0133-c51a-0a81e8b09a82,high,yes,2ee80cf30e2483dfe0947adc0428f8c5
11,69f1f400-dc5f-0133-ad9b-0a81e8b09a82,medium,no,None
12,2351fbe0-de4c-0133-0d58-0a81e8b09a82,low,yes,897ef18a9321616495831a4b4b0c1bb2
13,0f286c80-dd77-0133-7803-0a81e8b09a82,medium,no,None
14,fe54f360-db27-0133-c444-0a81e8b09a82,medium,no,None
15,960b1ce0-db01-0133-528c-0a81e8b09a82,medium,yes,a003702c0cea282e17967772dd83de5e
16,d7912480-da41-0133-5bc1-0a81e8b09a82,low,no,None
17,d468c670-da40-0133-de39-0a81e8b09a82,high,no,None
18,76767d10-dd6c-0133-f56d-0a81e8b09a82,low,no,None
19,a96ed910-de55-0133-2582-0a81e8b09a82,medium,yes,04c82eae29e1c4a30eac0710b74ab276

In [10]:
pd.read_sql_query("SELECT * from poll_info LIMIT 20",engine)

,uuid,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,I know something about it,I would not vote,None of the above,None of the above,None of the above
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above
4,24954a70-db98-0133-4a64-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...
5,28583060-dbe2-0133-ff9c-0a81e8b09a82,I understand it fully,I would vote against it,A basic income would not affect my work choices,It encourages financial independence and self-...,It is impossible to finance | It might encoura...
6,b50dbb80-da53-0133-8956-0a81e8b09a82,I know something about it,I would probably vote for it,‰Û_ work as a freelancer,It reduces anxiety about financing basic needs,Foreigners might come to my country and take a...
7,dd743bb0-d9a5-0133-53b2-0a81e8b09a82,I know something about it,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working | Fo...
8,4fde2370-da48-0133-3a42-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It creates more equality of opportunity | It r...,Foreigners might come to my country and take a...
9,9949c4c0-da5f-0133-c832-0a81e8b09a82,I understand it fully,I would vote for it,‰Û_ do more volunteering work,"It increases solidarity, because it is funded ...",Foreigners might come to my country and take a...
10,226cf850-db28-0133-c51a-0a81e8b09a82,I know something about it,I would probably vote for it,A basic income would not affect my work choices,It reduces anxiety about financing basic needs,It is against the principle of linking merit a...
11,69f1f400-dc5f-0133-ad9b-0a81e8b09a82,I know something about it,I would probably vote for it,‰Û_ stop working,It increases appreciation for household work a...,Foreigners might come to my country and take a...
12,2351fbe0-de4c-0133-0d58-0a81e8b09a82,I have never heard of it,I would probably vote for it,‰Û_ gain additional skills,It reduces anxiety about financing basic needs...,It might encourage people to stop working | It...
13,0f286c80-dd77-0133-7803-0a81e8b09a82,I have heard just a little about it,I would vote for it,A basic income would not affect my work choices,It creates more equality of opportunity,It might encourage people to stop working | Fo...
14,fe54f360-db27-0133-c444-0a81e8b09a82,I know something about it,I would probably vote for it,‰Û_ gain additional skills,It reduces anxiety about financing basic needs,It might encourage people to stop working | It...
15,960b1ce0-db01-0133-528c-0a81e8b09a82,I know something about it,I would probably vote for it,A basic income would not affect my work choices,It reduces anxiety about financing basic needs,It might encourage people to stop working
16,d7912480-da41-0133-5bc1-0a81e8b09a82,I know something about it,I would vote against it,‰Û_ stop working,It encourages financial independence and self-...,Foreigners might come to my country and take a...
17,d468c670-da40-0133-de39-0a81e8b09a82,I know something about it,I would probably vote for it,‰Û_ work as a freelancer,It reduces anxiety about financing basic needs...,It is against the principle of linking merit a...
18,76767d10-dd6c-0133-f56d-0a81e8b09a82,I have never heard of it,I would probably vote against it,‰Û_ gain additional skills,It creates more equality of opportunity,It is impossible to finance | It might encoura...
19,a96ed910-de55-0133-2582-0a81e8b09a82,I have heard just a little about it,I would probably vote against it,None of the above,It reduces anxiety about financing basic needs,It might encourage people to stop working | It...

In [23]:
table_query = """SELECT country_info.uuid, 
country_info.country_code, 
career_info.normalized_job_code, 
personal_info.gender
FROM country_info
JOIN career_info ON career_info.uuid = country_info.uuid
JOIN personal_info ON personal_info.uuid = country_info.uuid"""

main_table = pd.read_sql_query(table_query,engine)

main_table.head()

,uuid,country_code,normalized_job_code,gender
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,AT,None,male
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,AT,861a9b9151e11362eb3c77ca914172d0,male
2,83127080-da3d-0133-c74f-0a81e8b09a82,AT,None,male
3,15626d40-db13-0133-ea5c-0a81e8b09a82,AT,049a3f3a2b5f85cb2971ba77ad66e10c,Male
4,24954a70-db98-0133-4a64-0a81e8b09a82,AT,f4b2fb1aa40f661488e2782b6d57ad2f,Fem

In [21]:
main_table.shape

(9649, 4)

In [25]:
main_table.country_code.unique()

array(['AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR',
       'GB', 'GR', 'HR', 'HU', 'IE', 'IT', 'LT', 'LU', 'LV', 'MT', 'NL',
       'PL', 'PT', 'RO', 'SE', 'SI', 'SK'], dtype=object)

In [26]:
main_table.normalized_job_code.unique()

array([None, '861a9b9151e11362eb3c77ca914172d0',
       '049a3f3a2b5f85cb2971ba77ad66e10c',
       'f4b2fb1aa40f661488e2782b6d57ad2f',
       '27af8700f5577cec835acee2cb90a2ff',
       'c1b670eba9ccb65e7c99f7da116d5b9c',
       'd71c4164c99a5f9bca773e755a72f40f',
       '2ee80cf30e2483dfe0947adc0428f8c5',
       '897ef18a9321616495831a4b4b0c1bb2',
       'a003702c0cea282e17967772dd83de5e',
       '04c82eae29e1c4a30eac0710b74ab276',
       'fcaf4aac737e53ad24b9f32f08b8740f',
       '3833bd699e7afe4665b595f282da0387',
       '19e384e977796c25780d8c28b12089c4',
       '474b962c13632a04e42a546be4f11dbb',
       'dac2e921c1f887d9efc4c06fa33c1397',
       '996da29c84f5eed00da40c230f4c4078',
       'cc2b26cc436bea36bda3bdd7367c411a',
       '25fe195cbf915c0824fa6c44e6d0008c',
       '76385cb24e831b3364279b9de5641d8f',
       '16b67d7f57698455aefbc1ae1b358b50',
       'b24ece3300d2f8ab34f9553e531183d6',
       '5db2c8d6539f983e1ca3d7c5b939e190',
       '36675c937946c8a4fc5de7d0b4c850de',
       '847165cfda6b1dc82ae22b967da8af2f',
       '2ca138b991c50dc6696238e5ad800142',
       '775190277a849cba701b306a7b374c0a',
       '022d0e3a40aa3e29bca6851542b27842',
       '375017ea3a1a97f5ea676def873bb25b',
       '1dd2fdc8a3981f2a1d8f0ca173952bb8',
       'e605336f5a43949cb6b18054fd1937f1',
       '800b621aab5dac18f4caef621fa43a49',
       'd06dfb43c95b585a89ae556c9221b573',
       'a12a16280e22220f9354333f6fe1b22a',
       '477b53ef09d37f098d5ed74f47fcbaec',
       'e2f68bf748aea2c7d2254550c0c92b23',
       '45033f83b6e0309eca9bcd76917f15d0',
       '141ddda0f613da65a280521247de0e9f',
       '3ddea1b52e520996e4ec9fb70dc8b86b',
       '6408c0d7c7faa4ced47fbc8474698126',
       '07b7555fa790debaf5b04d1409ad5f11',
       'a4d5b8b38f9513825d0d94a981ebe962',
       '5e93fd1a58c8a67b295f69d87d1a940d',
       '122f24bc911a79c26ca66210557dda07',
       '76b0ba6af40991629e20dff36edd02a5',
       '970eb38c7b3eb080466052ea994af189',
       'cf2d4db3c258faa2499bdeeeed6721a5',
       '90c5430dbc810aec8695af2f1f4c42e8',
       '7bb15eefb19ed09c59349baad7e8469e',
       'ec3d88b2fd083b870b8c5a603898ed39',
       '1f8576bdffa64f492405d02b842c41a6',
       'edc64316da9707432443c7a4461abe6c',
       '6cf4d336112984368f83181ac5ffe948',
       'd4624ed8068d24948e18303212593cd6',
       '1a281bf4bd1fe9b2a6e464e508bea167',
       '2f704538f6c9d6459a97314be98124e2',
       '3161063d378eecc4581c5cdee46a2a6c',
       '781f5d3a80812531fdc81125a527a626',
       '38a15ceadcdd6d4db16a88fa1a72b083',
       'e55556364d2096578fd153e9800e826f',
       'd24ffac92c24fb0e7bd1abc5fc3b6254',
       'ccd7528fb38f16077360c5b67c9700c4',
       'f6fbd9dea1fa8f899683ade8e7d87d60',
       '0de6170ccbed08e62b2e5862d5846a43',
       '499f9d9b6722342608656559b15abd90',
       '8a7a3f1bce0958ae9f090683e5a925b7',
       '7acaed29536648e45ea2b82d45047fcf',
       '02e4c028f64f176de2f54bbc2f5403ce',
       '569da68cdcac43a3b4a0126ea9170570',
       'ced804d972b03cca6d523ec8925a7943',
       '41b2978a2c07c5f477e60f26372d6c85',
       'd9e964a222fdd9527319ad88adbfaa2e',
       'ac47656fd51c2cd8037057262c910dc4',
       'e49986dae76619a3941d280ee14d38ae',
       'f842344417ed2fc226d9cc00f9562458',
       '096536ec43ce2a7de73031b271a1c132',
       'a33662485eb4ad97096183db945308f4',
       '4f75f97ac5b5f00f9420074d501f0803',
       'f36c6ada3a808453a0bf241c74a4e994',
       '41ba88cfd476ee8d5e3d9f7cea62f051',
       '894ca61c22718617c7e2404f582153da',
       '34d80517fe3bc143f9fc850386b8ffd7',
       'e7b3e1c6a32c7247cd4857e4c3574165',
       '36ac256201657eeaa67ee95aaae3cd54',
       'bc6dcc49557388a9f53d6e642e73d7a2',
       '00bff17fca67555d8d86e8ead86dcd70',
       'b42566382f2d3deeca56d3667004fc9e',
       '7932d4705d002b47789c11edfaed685e',
       'aee597cd78f235c9db9d3ca987c7c846',
       '1c37a6e2bf157c0eff4665c57c52602d',
       '46b09f5f86f1ed46a8cb8e14d41418c7',
       'a2a9fbe67b4aa2b551ba0f3adac90a99',
       '77d124811ae6887bd4ff42b0e2b49116',
       'f05d2014d4a9adaab50fa1e0ca6f6c8c',
       'ac2588d5d7676a49bdcd038e4a0a0ec5',
       '2173ff3afd8d28192f7cf119af201940',
       'f5bc91b67dc30ad204158092116c4ed2',
       '433df1b945d32f17d9e61cf60a9bd06e',
       '1295a187473fd2f53427769fc7a4c02e',
       '004431b0c1ce29ff6145307fa23f3f98',
       '8fd068c8d9be73abfa678856177b6c40',
       'c34f03aa0a9c6edbe8ec50f4fa3687a8',
       '7aecc34a90868aac810bf3693b11534e',
       '086f0063610283d1c23c44bca4ef92c0',
       '16b49a63ac3fcb90356c30187110ed94',
       '437e4414c78611a270a5cedb4b4c0eed',
       '679fb7003e0aedc14891fcd15dd846c5',
       '7a37ddb38441873334fd8ff07c17ad22',
       '58eaf730050d2e23c7361fbb782e30a2',
       'd0abc47e83e7d85921e113f85175547a',
       '73d251075a710326ae436d9819246377',
       '5e2bfe1fb8451158ff488c673535980c',
       'ac9f868b5c3e7cb3f31bcead5dadeb71',
       'f670246beda8187fbe875401e7bc4ba6',
       '0044971fda4a261b6049a63817913e95',
       'b36bc5f02fd641a126df999bcefa2777',
       '067c85859a63aa6f1c8c936904124dd6',
       '491d82be40d8395e347f9584124bccdd',
       '7028f15ad274cb4d9505101b9c1306b1',
       'fd69391dc29c83d5ad744daa57de0175',
       '3def30a9bc4356164176ba909f40bab8',
       '132aa9e82c5d4c8a395342d0a6e22c5c',
       '07b2ace822aff5d35dcf5ea264ef3b59',
       'f8984e50675cf61e5ac1ea8f661e0ab2',
       'd329d187dafb7546061ec7fbf137a2b4',
       'd63e35f948115e0c328a49db7bdb6e59',
       'bf7f43295d45cdced048c8126f977b6b',
       '6bf4290b983d58ce153af610008846c9',
       'f1fc61f279e3ad14863e582ca6fdc473',
       '31bf3181813e21ffdfd76b5881fab066',
       '04b0eaf624b2deb45ccd62cf6ec7c7bc',
       '2616d64becb4f2c478dd42f501bbfbff',
       '776bf47111206d31ccf835650e1054cc',
       'c3b5ebd7b88c20786f11e87846c7d6ae',
       'dfea9e8bc3c565ff9e64d4288b1c423d',
       'a50d1f4be063829950e6ddb02c91379f',
       'af6630abd24c19f77cfba94aa4e3b7e1',
       '901740e84d1a4760e440b039adac9df2',
       'f2ecf36d7eb0a4225974fc6c4f48cfcb',
       'f1fb62e4c97f4f5cd5001877cb94379e',
       'b9a57264eaada670703db113483ddfc3',
       '65b92572bca68ff9c49c930749fa348c',
       '59dab7d0a3ee97d939aa8b1a8deec857',
       'afea0e0169a98ee264db2ddb1c6e6a34',
       '0facaffe51cc1998a5fbdbe5fd18fd98',
       'ccf2c4daae069f054cada4c911819a17',
       '1426c924e1b6b162f6bfdd1906d98d0e',
       'eb3d789747d52df803ce63fe37bf53e9',
       'bdf4dcd92089bc17345de83f4d06090f',
       '5285758deb04c98f58cbae2747195f33',
       '04c27c76b463a917800549cf88a59961',
       '631bc3a12ed11340fc94ebfffa8f5f4e',
       'b0fa6ede410f50b82ab74f5a705fe699',
       '559a21f836c93876f31b60e6d10656a7',
       'c1fb1a01b78373ac2153c66fa08d16dc',
       '05bb9a333a66d6eb151e253623efe1c0',
       '4cee16550636e292b8d136486fce943b'], dtype=object)

In [27]:
main_table.gender.unique()

array(['male', 'Male', 'Fem', 'FeMale', 'female'], dtype=object)

In [42]:
main_table['gender'].str.lower()

main_table.loc[(main_table['gender'].str.lower().str[0] == 'm'),'gender']='Male'
main_table.loc[(main_table['gender'].str.lower().str[0] == 'f'),'gender']='Female'

In [44]:
main_table.head()

,uuid,country_code,normalized_job_code,gender
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,AT,None,Male
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,AT,861a9b9151e11362eb3c77ca914172d0,Male
2,83127080-da3d-0133-c74f-0a81e8b09a82,AT,None,Male
3,15626d40-db13-0133-ea5c-0a81e8b09a82,AT,049a3f3a2b5f85cb2971ba77ad66e10c,Male
4,24954a70-db98-0133-4a64-0a81e8b09a82,AT,f4b2fb1aa40f661488e2782b6d57ad2f,Female

In [45]:
main_table.gender.unique()

array(['Male', 'Female'], dtype=object)